<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right main-nav">
	   <li class="nav-item" ng-show="showAccueil">
		  <a class="nav-link" href="/QualPrixSolutions/"><strong>{{accueil}}</strong></a>
	   </li>
	   <li class="nav-item" ng-show="showShopping">
		 <a class="nav-link" href="/QualPrixSolutions/service/shopping">{{shopping}}</a>
	   </li>
	   <li class="nav-item" ng-show="showLocations">
		 <a class="nav-link" href="/QualPrixSolutions/service/locations">{{locations}}</a>
	   </li>
	   <li class="nav-item" ng-show="showServices">
		 <a class="nav-link" href="/QualPrixSolutions/service/supportService">{{services}}</a>
	   </li>
	   <li class="nav-item" ng-show="showSponsors">
		 <a class="nav-link" href="/QualPrixSolutions/service/sponsors">{{sponsors}}</a>
	   </li>
	   <li class="nav-item" ng-show="showTutorial">
		 <a class="nav-link" href="/QualPrixSolutions/service/tutorialAstuce">{{tutorials}}</a>
	   </li>
	   <li class="nav-item" ng-show="showContacts">
		 <a class="nav-link" href="/QualPrixSolutions/service/contacts">{{contacts}}</a>
	   </li>
		<!--   	<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Sign Up</a></li> -->
	</ul>
</div>